/* CSS file for host_detail.html */

@import "constants.css";

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f4f8;
}

.card {
    @apply bg-white p-6 rounded-xl shadow-lg;
}

.btn-back {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out;
}

.status-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-indicator.success {
    background-color: #48bb78;
}

/* Green */
.status-indicator.failure {
    background-color: #ef4444;
}

/* Red */

.ping-interval-select {
    @apply p-1 border border-gray-300 rounded-md text-sm;
}

/* ADDED/MODIFIED: CSS for the update-message span */
#update-message {
    opacity: 0;
    transition: opacity var(--message-fade-duration) ease-out;
    /*transition: opacity 0.5s ease-out; !* Smooth transition for opacity *!*/
    display: none;
}

#update-message.show {
    opacity: 1;
    display: inline-block;
}

#delete-data-message {
    opacity: 0;
    transition: opacity var(--message-fade-duration) ease-out;
    display: none;
}
#delete-data-message.show {
    opacity: 1;
    display: inline-block;
}

.scroll-tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    table-layout: fixed;
    width: 100%;
}

/* This is a crucial step to align the columns correctly */
.scroll-tbody tr {
    display: inline-table;
    width: 100%;
    table-layout: fixed;
}

/* Optional: This can help with header alignment, especially if columns have different widths */
.scroll-tbody td,
.scroll-tbody th {
    width: 25%; /* Adjust widths to match your table headers */

}

/* Ensure the header also behaves like a block element for alignment */
table thead,
table tbody {
    display: table;
    width: 100%;
}

/* This is a crucial step to align the columns correctly */
.scrollable-table {
    width: 100%;
    table-layout: fixed; /* Forces columns to be the same width */
}

/* Ensure both headers and data cells have the same width */
.scrollable-table th,
.scrollable-table td {
    width: 25%; /* Adjust this percentage based on the number of columns you have */
    padding: 8px; /* Add some padding for better readability */
    text-align: left; /* Aligns the text to the left */
}